.accordion {
  background: $primary-color-bg;

  .container {
    padding-bottom: 50px;
  }

  .section-header {
    margin-top: 100px;
  }
}

.accord-header {
  background: $accord-header-bg;
  color: $accord-header-color;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 1px 0;
  cursor: pointer;
}

.active {
  background: $accord-header-bg-active;
  color: $accord-header-color-active;
}

.accord-text {
  display: none;
  background: $accord-text-bg;
  padding: 15px;
}

.open {
  display: block;
}