$main-font: 'Droid Serif', serif;

$primary-color-bg: #dcdcdc;
$secondary-color-bg: #fff;

$h-page-bg: rgb(64, 64, 64);
$menu-text-color: #fff;

$accord-header-bg: #333333;
$accord-header-color: #fff;
$accord-header-bg-active: #fff;
$accord-header-color-active: #000;
$accord-text-bg: #fff;